@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --color-primary: #f1f5f9;
  --color-secondary: #111111;
  --color-accent-blue: #19485a;
  --color-accent-gold: #bea85d;
  --color-text: #f1f5f9;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, var(--color-primary)),
    var(--color-primary);
}

::-webkit-scrollbar {
  background-color: #111;
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background: #bea85d;
  border-radius: 10px;
}
